
.sale td{
    background: lightgreen;
}
.table td{
    border: 2px solid rgba(128, 128, 128, 0.21);
}

td {
    vertical-align: middle;
}

table{
    border-radius: 10px;
}

.mensaje-stock {
  font-size: 15px;
  font-weight: bold;
  color: red;
}
